* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.text {
  left: 100px;
  padding: 0 100px;
  position: absolute;
  top: 300px;
}

.text1 {
  color: #ff2f90;
  z-index: 1;
}

.text2 {
  color: yellow;
  z-index: 2;
  animation-name: slide;
  animation-delay: 1.4s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
}

.text3 {
  color: #38ffff;
  z-index: 3;
  animation-name: slide;
  animation-delay: 0.5s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.black {
  background-color: #202020;
  height: 300px;
  width: 500px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  z-index: 10;

  animation: black-in;
  animation-duration: 1s;
  animation-delay: 4.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.repo-link {
  color: #999999;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  position: absolute;
  left: 200px;
  top: 400px;
  opacity: 0;
  z-index: 20;

  animation: link-fade-in;
  animation-delay: 5.8s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 726px) {
  body {
    font-size: 42px;
  }

  .text {
    left: 40px;
    top: 200px;
    padding: 0;
  }

  .repo-link {
    left: 220px;
    top: 280px;
  }
}

@keyframes slide {
  0% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
  60% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);}
   100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

@keyframes black-in {
  0% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);}
  100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

@keyframes link-fade-in {
0% {opacity: 0;}
100% {opacity: 1;}
}